<title>Talent Pro - Contact-Us</title>

<center>
    <br />    
    <address><strong> Jayendran Arumugam</strong> </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:jayendranarumugam@gmail.com">jayendranarumugam@gmail.com</a><br />
    </address>
</center>