@{
    Layout = "~/Views/Shared/_LayoutResume.cshtml";
    ViewBag.Title = "Index";
}
<title>Talent Pro Doc Analyser- Home</title>
<h2> Welcome to Talent Pro - Document Analyser-Upload the Document and Search the Candidates with the Power of AI</h2>