@{
    Layout = "~/Views/Shared/_LayoutVideoIndexer.cshtml";
    ViewBag.Title = "Index";
}

<title>Talent Pro Video Analyser- Home</title>
<h2>Welcome to Talent Pro - Video Analyser - Upload the Videos and Search the Candidates with the Power of AI</h2>


