@model IEnumerable<TalentProWebApp.Models.VideoModel>
@{
    Layout = "~/Views/Shared/_LayoutVideoIndexer.cshtml";
    ViewBag.Title = "Search";
}
<title>Talent Pro - Search in Videos</title>
<head>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.autocompleteInline.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.autocompleteInline.js"></script>
</head>
<br />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
@using (Html.BeginForm("Search", "Video", FormMethod.Get))
{
    <div class="searchBoxForm hide-autocomplete-dropdown">
        <input type="text" id="example3" name="search" placeholder="Search">
        <input type="submit" name="submit" value="Search">
    </div>
}
<script>
    $(function () {
        // using modified jQuery Autocomplete plugin v1.2.6 http://xdsoft.net/jqplugins/autocomplete/
        // $.autocomplete -> $.autocompleteInline
        $("#example3").autocompleteInline({
            appendMethod: "replace",
            source: [
                function (text, add) {
                    if (!text) {
                        return;
                    }

                    $.getJSON("/Video/autocomplete?term=" + text, function (data) {
                        if (data && data.length > 0) {
                            currentSuggestion3 = data[0];
                            add(data);
                        }
                    });
                }
            ]
        });

        // complete on TAB and clear on ESC
        $("#example3").keydown(function (evt) {
            if (evt.keyCode === 9 /* TAB */ && currentSuggestion3) {
                $("#example3").val(currentSuggestion3);
                return false;
            } else if (evt.keyCode === 27 /* ESC */) {
                currentSuggestion3 = "";
                $("#example3").val("");
            }
        });

        //$("#example3").autocomplete({
        //    html: true,
        //    source: "/Resume/suggest?highlights=false&fuzzy=false&",
        //    minLength: 2,
        //    position: {
        //        my: "left top",
        //        at: "left-23 bottom+10"
        //    }
        //});
    });
</script>
<br />

@foreach (var item in Model)
{
    var embedVideo = @AzVideoIndexer.GetEmbeddedDetailsAsync(item);


    <iframe width="700" height="500" src=@embedVideo.playerURL frameborder="0" allowfullscreen></iframe>
    <iframe width="700" height="500" src=@embedVideo.InsightURL frameborder="0" allowfullscreen></iframe>
    <script src="https://breakdown.blob.core.windows.net/public/vb.widgets.mediator.js"></script>
    <br />
    <br />
}
@if (ViewBag.VideototalRemainingPageSize > 1)
{
    @Html.ActionLink("Next Page", "Search", "Video", new { pageNo = ViewBag.VideopageNo + 1 }, null)
}